Render include

<pre>
    <div class="iffframe">

        <iframe class="iffframe__iframe" frameBorder="0" width="100%" height="100%" src="/mpsv-design-system/patterns/button2/button2.html"></iframe>

        <div class="iffframe__handle"></div>

    </div><!--end iffframe-->
</pre>

{% capture includedfile %}
    {% include /patterns/button2/button2.html %}
{% endcapture %}

<div class="pattern-code">
    <button class="c-btn pattern-code-copy-btn" data-clipboard-target="#pattern-code-{{ forloop.index }}">Copy</button>
    <pre class="highlight pattern-code-block"><code class="language-html" id="pattern-code-{{ forloop.index }}">{% highlight liquid %}{{ includedfile | removefrontmatter }}{% endhighlight %}</code></pre>
</div>